<div id="centralizar">
  <div id="card1" style="width: 18rem;">
    <img src="../assets/rique_gogoboy.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rique baiano</h5>
      <p class="card-text">Ele dorme de um jeito diferente, precisa de ajuda? Não conte com ele, ele estará dando um ronco bem gostoso.

      </p>
      <a href="https://www.instagram.com/h2l.rique" class="btn btn-primary">Instagram</a>
    </div>
  </div>

  <div id="card2" style="width: 18rem;">
    <img src="../assets/pedro_baiano.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pedro gordo baiano</h5>
      <p class="card-text">Como diz o nome ele e gordo e baiano, se não estiver dormindo vai esta comendo.
      </p>
      <a href="https://www.instagram.com/soaresz_pedro" class="btn btn-primary">Instagram</a>
    </div>
  </div>
</div>
