<mat-grid-list id="back" cols="2" rowHeight="100vh">
    <mat-grid-tile>
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Pedro H. Soares</mat-card-title>
          <mat-card-subtitle>Formando de DS</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/icon2.jpeg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button class="button-d"><a routerLink="/pagP" class="text-d">Voltar</a></button>
        </mat-card-actions>
      </mat-card>
  
    </mat-grid-tile>
    <mat-grid-tile>
        <div id="container-detalhe">
        <h1 id="title-sobre">Sobre:</h1>
        <p class="text-sobre">Atualmente, sou estudante da Etec Professor Horácio Augusto da Silveira, onde curso o Ensino Médio integrado ao Técnico em Desenvolvimento de Sistemas. Esta formação tem me proporcionado uma sólida base teórica e prática nas áreas de tecnologia da informação e desenvolvimento de software.</p>
        <p class="text-sobre">Estou em constante busca por oportunidades de estágio e projetos colaborativos que me permitam aplicar e expandir meus conhecimentos em desenvolvimento de sistemas. Meu objetivo é contribuir para a criação de soluções tecnológicas inovadoras que possam fazer a diferença na vida das pessoas.</p>
        </div>
    </mat-grid-tile>
  </mat-grid-list>